certifi==2017.1.23
cycler==0.10.0
decorator==4.4.0
GDAL==2.1.0
h5py==2.6.0
matplotlib==1.5.3
networkx==1.11
nose==1.3.7
numpy==1.11.3
pandas==0.20.3
pyparsing==2.4.0
python-dateutil==2.8.0
PyTOPKAPI==0.4.0
pytz==2019.1
scipy==0.19.1
six==1.10.0
tqdm==4.32.2
wincertstore==0.2
